@font-face {
  font-family: "iconfont"; /* Project id 3469308 */
  src: url("iconfont.woff2?t=1655536663927") format("woff2"),
    url("iconfont.woff?t=1655536663927") format("woff"),
    url("iconfont.ttf?t=1655536663927") format("truetype");
}

[class^="icon"] {
  font-family: "iconfont" !important;
  font-size: 26px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
  content: "\e67e";
}

.icon-redo:before {
  content: "\e937";
}

.icon-undo:before {
  content: "\e966";
}

.icon-save:before {
  content: "\e67c";
}

.icon-export:before {
  content: "\e642";
}

.icon-import:before {
  content: "\e8da";
}
