@import "../iconfont/iconfont.css";
.editor-wrap {
  width: 100%;
  height: 100%;
  .editor-left,
  .editor-right {
    position: absolute;
    width: 260px;
    top: 0;
    bottom: 0;
  }

  .editor-left {
    left: 0;

    &-item {
      width: 250px;
      margin: 20px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      padding: 20px;
      box-sizing: border-box;
      cursor: pointer;
      user-select: none;
      min-height: 100px;
      position: relative;

      > span {
        position: absolute;
        top: 0;
        left: 0;
        background: #1890ff;
        color: #fff;
        padding: 4px;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #ccc;
        opacity: 0.2;
      }
    }
  }
  .editor-right {
    right: 0;
  }

  .editor-top {
    position: absolute;
    right: 270px;
    left: 270px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #ccc;

    &-btn-wrap {
      width: 60px;
      height: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.5);
      user-select: none;
      cursor: pointer;
      color: #fff;
      &:not(:first-child) {
        margin-left: 10px;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.6);
      }
    }
  }

  .editor-container {
    padding: 80px 260px 0;
    height: 100%;
    box-sizing: border-box;

    &-canvas {
      overflow: scroll;
      height: 100%;

      &_content {
        margin: 20px auto;
        border: 1px solid #ecf000;
        position: relative;
      }
    }
  }
}

.editor-block-wrap {
  position: absolute;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ccc;
    opacity: 0.2;
  }
}

.editor-block-focus {
  &::after {
    border: 2px dashed #ff0000;
  }
}

.line-x {
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 1px dashed #ff0000;
}

.line-y {
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px dashed #ff0000;
}

.dropdown {
  display: none;
  position: absolute;
  background: rgb(255, 255, 255);
  box-shadow: 2px 2px #ccc;
  border: 1px solid #ccc;

  &_active {
    display: block;
  }

  &-item {
    line-height: 30px;
    width: 100px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    user-select: none;
    i {
      margin-right: 5px;
    }
  }
}

.range {
  display: inline-flex;
  align-items: center;
  width: 220px;
  min-height: 23px;
  input {
    flex: 1;
    width: 100%;
    height: 100%;
  }

  span {
    margin: 0 5px;
    display: inline-flex;
  }
}

.block-resize {
  position: absolute;
  width: 8px;
  height: 8px;
  background: #1890ff;
  z-index: 1000;
  user-select: none;
}

.block-resize-top {
  top: -4px;
  left: calc(50% - 4px);
}

.block-resize-bottom {
  bottom: -4px;
  left: calc(50% - 4px);
}

.block-resize-left {
  left: -4px;
  top: calc(50% - 4px);
}

.block-resize-right {
  right: -4px;
  top: calc(50% - 4px);
}

.block-resize-top-left {
  top: -4px;
  left: -4px;
}

.block-resize-top-right {
  top: -4px;
  right: -4px;
}

.block-resize-bottom-left {
  bottom: -4px;
  left: -4px;
}

.block-resize-bottom-right {
  bottom: -4px;
  right: -4px;
}

.el-button,
.el-input {
  transition: none;
}
